<p>Hi $name,</p>
<p>You recently asked to reset your <a href="$site_url">$site_title</a> password. To complete your request, please follow this link:<p>
<p><a href="$full_link">$full_link</a></p>
<p>Alternately, you may go to <a href="$page_link">$page_link</a> and enter the following confirmation code:</p>
<p>$code</p>
<p>If you did not request a new password, you may disregard this message.<p>
<p>Thanks,<br />
  The $site_title Team
</p>
